<!DOCTYPE html>
{% extends 'flatpages/default.html' %}

{% block title %} ALL NEWS {% endblock %}

{% block content %}
{% if newss %}
    {% for news in newss %}
    <table>
        <tr>
            Название: <a href="{% url 'news_detail' news.pk %}">{{news.title}}</a>
        </tr>
        <tr>
            Автор: {{news.author}}
        </tr>
        <tr>
            Дата: {{news.dateCreation |date:'d M Y'}}
        </tr>
        <tr>
            Превью: {{news.text | truncatewords:20}}
        </tr>
    </table>
<hr>
    {% endfor %}
{%else %}
    <h1>Нет новостей</h1>
{% endif %}

<div align="center">
       {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
</div>


{% endblock %}
